In [15]:
import sqlite3

c = sqlite3.connect(':memory:')
cs = c.cursor()

cs.execute('''
    CREATE TABLE Weather (
        id INT,
        recordDate DATE,
        temperature INT
    )
''')

table_data = [(1, '2015-01-01', 10),
        (2, '2015-01-02', 25),
        (3, '2015-01-03', 20),
        (4, '2015-01-04', 30)]

cs.executemany('INSERT INTO Weather VALUES (?, ?, ?)', table_data)

c.commit()

cs.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cs.fetchall()
print(tables)

cs.execute('''
    SELECT w1.id
    FROM Weather w1
    JOIN Weather w2 ON w1.recordDate = DATE(w2.recordDate, '-1 day')
    WHERE w1.temperature > w2.temperature
''')

r = cs.fetchall()

for row in r:
    print(row[0])

c.close()

[('Weather',)]
2